.brewpage .timer-button {
  margin-top: 0.5em;
}
.ferm-group {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  max-width: 50em;
  align-self: center;
}
.ferm-group .button {
  max-width: 30em;
}
.input-volume {
  max-width: 35em;
  align-self: center;
}
